#root{
    width: 100% !important;
    min-height: 100vh !important;
}

.sidebar{
    width:350px !important; 
}

.modalWrapper{
    width: 55vw !important;
}

.css-gobhyx-MuiDataGrid-root .MuiDataGrid-columnHeader, .css-gobhyx-MuiDataGrid-root .MuiDataGrid-cell{
    padding: 5px !important;
}

.react-flow{
    height: 90% !important;
}